/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 4, 2022
   Description: CSS Stylesheet for Restaurant Page  project.
******************************************************************************/
@font-face {
  font-family: "typewriter";
  src: url("./momt___-webfont.woff2") format("woff2"),
      url("./momt___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --tab-and-page-color: rgb(250, 209, 154);
}

body {
  
  background-image: url(../src/popcorn-background.jpg);
  background-repeat: repeat;
  background-size: 1000px 800px;
}

#content {
  max-width: 700px;
  
  margin-left: auto;
  margin-right: auto;
  

  display: flex;
  flex-direction: column;
}

.header {
  height: 170px;
  border-bottom: solid black 1px;

  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 20px;
  color:#0077ff;
  text-align: center;
}

.social-icons {
  font-size: 1.5rem;

  display: flex;
  column-gap: 35px;
  justify-content: center;
  
  margin-top: 6px;
}

.tabs {
  font-family: 'typewriter';
  font-size: medium;
  list-style-type: none;

  display: flex;
  column-gap: 25px;

  margin-left: auto;
  margin-right: auto;
  
  padding-top: 31px;
}

.tabs li {
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  width: 80px;
  height: 45px;
  
  text-align: center;
  padding-top: 5px;

  background-color: var(--tab-and-page-color);
}

#home-tab, #menu-tab {
  padding-top: 15px;
}

.main-content {
  background-color: var(--tab-and-page-color);
  border-left: solid black 1px;
  border-right: solid black 1px;
}

h2, h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

h4 {
  margin-top: 10px;
}

.wide-content-container, .form-container, .menu-items-container {
  background-color: burlywood;
  border: solid black 1px;
  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;
  
  padding: 10px;
  text-align: center;

  width: 280px;
}

.hours-container, .location-info {
  background-color: burlywood;
  border: solid black 1px;
  border-radius: 5px;

  width: 300px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.daily-hours, .address {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.daily-hours:first-of-type,
.address:first-of-type {
  margin-top: 15px;
}

.daily-hours:last-of-type,
.address:last-of-type {
  margin-bottom: 15px;
}

.page-footer {
  border: solid black 1px;
  background-color: burlywood;
  padding-top: 15px;
  padding-bottom: 30px;
}

.footer-text {
  margin: 1px;
  font-size: 20px;
  text-align: center;
}

.rectangle-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  width: 300px;
  height: 250px;

  border-radius: 10px;
}

.rectangle-image-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  width: 300px;
  height: 250px;

  border-radius: 10px;
}

.tall-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  width: 300px;
  height: 450px;

  border-radius: 10px;
}

.tall-image-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  width: 300px;
  height: 450px;

  border-radius: 10px;
}

.location-info,
.form-container,
.menu-items-container:last-of-type {
  margin-bottom: 25px;
}

.about-us, .contact-us {
  margin-bottom: 5px;
}

.hear-about-us-message {
  margin-bottom: 7px;
}

.info-form {
  margin-top: 10px;
  width: 95%;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row:last-of-type {
  margin-bottom: 5px;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid,
.form-row input[type='tel']:invalid,
.form-row textarea:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;       /* Remove default red glow in Firefox. */
}

.form-row span {
  margin-left: 10px;
}

.form-row label {
  margin-bottom: 10px;
}

.form-row select {
  border-radius: 3px;
  width: 280px;
  padding: 5px;
  font-size: 14px;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 180px;
  width: 100%;
  margin-bottom: 5px;
  padding: 7px;
  resize: none;
}

.form-row .mail-list-label {
  margin-bottom: 0;
}

.form-row button {
  font-size:  16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  margin-left: 15px;
  cursor: pointer;
  
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

.menu-items-container {
  margin-top: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

td, th {
  padding-left: 20px;
  padding-right: 20px;
}

caption {
  font-weight: bold;
}

.specialty-toppings-list {
  list-style-type: none;
}

@media only screen and (min-width: 700px) {
  .tabs {
    column-gap: 100px;
  }

  .tabs li {
    width: 100px;
  }

  .wide-content-container, .form-container, .menu-items-container {
    width: 400px;
  }

  .info-form {
    width: 400px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='tel'],
  .form-row select {
    width: 250px;
    height: initial;
  }

  .form-row label {
    text-align: right;
    width: 100px;
    margin-top: 7px;
    padding-right: 15px;
  }

  .form-row select {
    width: 266px;
  }

  .form-row textarea {
    width: 250px;
  }

  .form-row .mail-list-label {
    margin-left: 125px;
    width: auto;
  }

  .form-row button {
    margin-left: 140px;
  }
}
