/******************************************************************************
          Name: styles.js
        Author: Chad Chapman
  Date Created: December 4, 2022
   Description: CSS Stylesheet for Restaurant Page  project.
******************************************************************************/
@font-face {
  font-family: "typewriter";
  src: url("./momt___-webfont.woff2") format("woff2"),
      url("./momt___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --tab-and-page-color: rgb(250, 209, 154);
}

body {
  
  background-image: url(../src/popcorn-background.jpg);
  background-repeat: repeat;
  background-size: 1000px 800px;
}

#content {
  max-width: 700px;
  
  margin-left: auto;
  margin-right: auto;
  background-color: burlywood;

  display: flex;
  flex-direction: column;
}

.header {
  height: 170px;
  border-bottom: solid black 1px;

  display: flex;
  flex-direction: column;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.social-icons {
  font-size: 1.5rem;

  display: flex;
  column-gap: 10px;
  justify-content: center;
  
  margin-top: 6px;
}

.tabs {
  font-family: 'typewriter';
  font-size: medium;
  list-style-type: none;

  display: flex;
  column-gap: 25px;

  margin-left: auto;
  margin-right: auto;
  
  padding-top: 31px;
}

.tabs li {
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-right: solid black 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  width: 80px;
  height: 45px;
  
  text-align: center;
  padding-top: 5px;

  background-color: var(--tab-and-page-color);
}

#home-tab, #menu-tab {
  padding-top: 15px;
}

.main-content {
  background-color: var(--tab-and-page-color);
}

h2, h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.paragraph-container, .form-container {
  background-color: burlywood;
  border: solid black 1px;
  border-radius: 5px;

  margin-left: auto;
  margin-right: auto;
  
  padding: 10px;
  text-align: center;

  width: 280px;
}

.hours-container, .location-info {
  background-color: burlywood;
  border: solid black 1px;
  border-radius: 5px;

  width: 300px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}

.daily-hours, .address {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.daily-hours:first-of-type,
.address:first-of-type {
  margin-top: 15px;
}

.daily-hours:last-of-type,
.address:last-of-type {
  margin-bottom: 15px;
}

.page-footer {
  border-top: solid black 1px;
  padding-top: 15px;
  padding-bottom: 30px;
}

.footer-text {
  margin: 1px;
  font-size: 20px;
  text-align: center;
}

.popcorn-bowl-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  width: 300px;
  height: 250px;

  border-radius: 10px;
}

.popcorn-mug-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  width: 300px;
  height: 450px;

  border-radius: 10px;
}

.location-info {
  margin-bottom: 25px;
}

.contact-us {
  margin-bottom: 5px;
}

.info-form {
  margin-top: 10px;
  width: 80%;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 80%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}
@media only screen and (min-width: 700px) {
  .tabs {
    column-gap: 100px;
  }

  .tabs li {
    width: 100px;
  }

  .paragraph-container, .form-container {
    width: 400px;
  }

  .info-form {
    width: 480px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .form-row input[type='text'] {
    width: 250px;
    height: initial;
  }

  .form-row label {
    text-align: right;
    width: 100px;
    margin-top: 7px;
    padding-right: 20px;
  }
}
